*.apk
*.aar
*.ap_
*.aab
build/
app/build/
.gradle/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.idea/
*.iml
*.iws
local.properties
captures/
.externalNativeBuild/
.cxx/
.DS_Store
Thumbs.db
*.jks
*.keystore
